<div>
    <table class="table" ng>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>cena</th>
                <th class="text-right">Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="komponenta in kc.komponente" ng-class="{'test-danger' : komponenta.cena < 100}">
                <td>{{komponenta.naziv}}</td>
                <td>{{komponenta.cena</td>
                <td>Ukloni robu</td>
            </tr>
        </tbody>
    </table>
</div>